<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_magic_pen"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_magic_pen_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiffusionPaint"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".ViewSdImageService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <activity
            android:name=".ViewSdImageActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.DiffusionPaintFullScreen" />
        <activity
            android:name=".DrawingActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.DiffusionPaintFullScreen" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:taskAffinity="com.jsoft.diffusionpaint"
            android:theme="@style/Theme.DiffusionPaint"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jsoft.diffusionpaint.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>